@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1B1212;
}

.header {
    background-color: #fcfcfc !important;
}

.brand-title {
    font-size: 24px;
    margin-right: 3px;
    font-weight: bold;
}

.nav-link {
    font-weight: 500;
    color: #262626 !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.btn-register {
    border: 1px solid #1B1212;
    border-radius: 5px;
    font-weight: 500;
    color: #1B1212;
    text-decoration: none;
}

.btn-register:hover, .btn-register:focus, .btn-register:active {
    background-color: #a7f736;
    border: 1px solid #a7f736;
    color: #1B1212;
}

.dropdown-item {
    font-size: 14px;
}

.line {
    border-bottom: 1px solid #DCDCDC;
}

.info-link {
    text-decoration: none;
}

.info-link:hover, .info-link:focus {
    text-decoration: underline;
}

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #9bf51d;
}
