.form-label label{
    width: 130px;
}

.form-input input{
    outline: none;
    height: 36px;
    width: 400px;
    padding: 0.5rem 0.875rem;
    border: 1px solid #DCDCDC;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-input input:hover, .form-input input:focus, .form-input input:active {
    border: 1px solid #a7f736;
}

.btn-save {
    border: none;
    min-width: 120px;
    line-height: 30px;
    background-color: #a7f736;
    border-radius: 5px;
}

.counter-code {
    max-width: 600px;
    border: 1px solid #a7f736;
    border-radius: 5px;
}

.counter-code:hover {
    background: linear-gradient(to right top, #d3fb9a 0%, #f6feea 100%);
}


