{% extends 'web/base.html' %}
{% block head %}
{% load static %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'src/assets/errors.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}404 - FreeStat{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-7">
            <h1 class="display-6">404 - Страница не найдена</h1>
            <hr>
            <p class="mb-0">К сожалению, запрашиваемая вами страница не найдена. <br>
                Вернуться к <a class="return-link" href="{% url 'counters' %}">списку счетчиков</a></p>
        </div>
    </div>
</div>
{% endblock %}