{% extends 'web/base_with_breadcrumbs.html' %}
{% block head %}
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'web/css/style_counter.css' %}" rel="stylesheet">
    <link href="{% static 'src/assets/counteradd.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Добавление счетчика - FreeStat{% endblock %}

{% block breadcrumbs_context %}
    <li class="breadcrumb-item"><a href="{% url 'counters' %}">Список счетчиков</a></li>
    <li class="breadcrumb-item active" aria-current="page">Добавление счетчика</li>
{% endblock %}

{% block body %}
    <div class="content mt-4">
        <div class="container">
            <div class="title">
                <h2 class="pb-4">Новый счетчик</h2>
            </div>

            <div id="counteradd"></div>
            <link href="{% static '/dist/assets/index.css' %}" rel="stylesheet">
            <script type="module" src="{% static '/dist/assets/CounterAdd.js' %}"></script>
        </div>
    </div>
{% endblock %}
