{% extends 'web/base.html' %}
{% block head %}
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="main-wrapper">
        <div class="container">
            <div class="auth-form">
                <h1>Вход</h1>
                <div class="form-inputs">
                    <form method="POST" , action="auth">
                        {% csrf_token %}
                        <div class="user-input">
                            <label>E-mail</label>
                            <input type="text" name="email" id="email">
                        </div>
                        <div class="user-input">
                            <label>Пароль</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="forgot">
                            <a href="#">Забыли пароль?</a>
                        </div>
                        <div class="button-send-wrap">
                            <button type="submit" class="button-send">Вход</button>
                        </div>

                        {% for message in messages %}
                            <p id="message">{{ message }}</p>
                        {% endfor %}
                        <div class="register">
                            <span>Еще нет учетной записи? </span><a href="{% url 'reg' %}">Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}