{% extends 'web/base.html' %}
{% block head %}
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'src/assets/auth_register.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Вход в аккаунт - FreeStat{% endblock %}

{% block content %}
    <div class="main-wrapper p-5">
        <div class="container">
            <div class="auth-form p-4 ps-5 pe-5">
                <h1 class="text-center mb-4">Вход</h1>
                <div class="form-inputs">
                    <form method="POST" action="auth">
                        {% csrf_token %}
                        <div class="user-input mb-3 mt-3">
                            <label>E-mail
                                <input type="text" name="email" id="email">
                            </label>
                        </div>
                        <div class="user-input mt-4">
                            <label>Пароль
                                <input type="password" id="password" name="password">
                            </label>
                        </div>
                        <div class="button-send-wrap mt-4">
                            <button type="submit" class="button-send">Войти</button>
                        </div>
                        <div class="form-message mt-3">
                            {% for message in messages %}
                                <p id="message">{{ message }}</p>
                            {% endfor %}
                        </div>


                        <div class="link-to-register mt-4">
                            <span>Еще нет учетной записи? </span><a href="{% url 'reg' %}">Регистрация</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}