<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    {% endblock head %}
</head>

<body>
{% block content %}
{% block breadcrumbs %}
<div class="breadcrumbs container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% block breadcrumbs_context %}
            {% endblock breadcrumbs_context %}
        </ol>
    </nav>
</div>
{% endblock breadcrumbs %}
{% endblock content %}
<script defer src="src/web/static/web/js/jquery.min.js"></script>
</body>
</html>