{% extends 'web/base_with_breadcrumbs.html' %}
{% block head %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href="{% static '/web/css/counter.css' %}" rel="stylesheet">

    <script type="module" src="{% static '/dist/assets/CounterPage.js' %}"></script>
    <link href="{% static '/dist/assets/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ object.name }} - статистика - FreeStat{% endblock %}

{% block breadcrumbs_context %}
    <li class="breadcrumb-item"><a href="{% url 'counters' %}">Список счетчиков</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h3 id="counter_name" class="mb-4">
            Название счетчика:
            <span class="counter-name ms-2">{{ object.name }}</span>
        </h3>

        <div id="counterpage"></div>
    </div>

{% endblock %}