{% extends 'web/base.html' %}
{% block head %}
    {% load static %}
    <title>{{ object.name }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link href="{% static 'src/assets/style_counter.css' %}" rel="stylesheet">
    <link href="{% static 'src/assets/chart.css' %}" rel="stylesheet">

    <script type="module" src="{% static '/dist/assets/CounterPage.js' %}"></script>
    <link href="{% static '/dist/assets/index.css' %}" rel="stylesheet">

{% endblock %}

{% block breadcrumbs_context %}
    <li class="breadcrumb-item"><a href="{% url 'counters' %}">Список счетчиков</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
{% endblock %}

{% block content %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="container-fluid">
        <p id="counter_name">
            Название счетчика: {{ object.name }}
        </p>

        <div id="counterpage"></div>
    </div>

{% endblock %}