{% extends 'web/base.html' %}
{% block head %}
    {% load static %}
    <title>Настройка счетчика</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "web/css/bootstrap.min.css" %}">
    <link href="{% static 'web/css/style_counter.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs_context %}
    <li class="breadcrumb-item"><a href="{% url 'counters' %}">Список счетчиков</a></li>
    <li class="breadcrumb-item active" aria-current="page">Настройка {{ object.name }}</li>
{% endblock %}

{% block content %}
<div class="content mt-4">
    <div class="container">
        <div class="title">
            {% block breadcrumbs %}
                {{ block.super }}
            {% endblock %}
            <h2 class="pb-4">Настройка счетчика</h2>
        </div>
        <div class="main">
            <form action="" method="POST">
			{% csrf_token %}
			<div class="field pb-3">
				<label for="name_counter">Имя счетчика</label>
				{{ form.name }}
			</div>
			<div class="field pb-3">
				<label for="site_adress">Адрес сайта</label>
				{{ form.link }}
			</div>
                <div class="text-center pt-4 submit_btn-wrap" style="width:50%;">
				<button class="btn btn-success">Сохранить</button>
                </div>
		</form>
        </div>
    </div>
</div>
{% endblock %}