{% extends 'web/base_with_breadcrumbs.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'src/assets/edit_counter.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Настройка счетчика - {{ object.name }} - FreeStat{% endblock %}

{% block breadcrumbs_context %}
    <li class="breadcrumb-item"><a href="{% url 'counters' %}">Список счетчиков</a></li>
    <li class="breadcrumb-item active" aria-current="page">Настройка {{ object.name }}</li>
{% endblock %}

{% block body %}
    <div class="content mt-4">
        <div class="container">
            <div class="title">
                <h2 class="pb-4">Настройка счетчика</h2>
            </div>
            <div class="main">
                <form action="" method="POST" class="">
                    {% csrf_token %}
                    <div class="mb-3 d-flex">
                        <div class="form-label mt-2">
                            <label class="form-label" for="counter-name">Имя счетчика</label>
                        </div>
                        <div id="counter-name" class="form-input ms-4">{{ form.name }}</div>
                    </div>
                    <div class="mb-3 d-flex">
                        <div class="form-label mt-2">
                            <label for="counter-link" class="form-label">Адрес сайта</label>
                        </div>
                        <div id="counter-link" class="form-input ms-4">{{ form.link }}</div>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn-save">Сохранить</button>
                    </div>
                </form>
                <div id="counter_edit" data-counter-id="{{ object.id }}"></div>
                <link href="{% static '/dist/assets/index.css' %}" rel="stylesheet">
                <script type="module" src="{% static '/dist/assets/CounterEdit.js' %}"></script>
            </div>
        </div>
    </div>
{% endblock %}