{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "web/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "web/css/profile.css" %}">
</head>
<body>
<div class="content mt-4">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="add-counter col">
                <button class="btn-counter"><a href='#' class="btn-link">Добавить счетчик</a></button>
            </div>
            <div class="search col">
                <form role="search" class="d-flex">
                    <div class="input-group input-group-sm mb-3">
                        <input class="form-control form-control-sm input-search" type="search"
                               placeholder="Найти счетчик" name="search" value="{{ search|default_if_none:'' }}">
                        <button class="btn-search" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% if counters %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Счетчик</th>
                <th scope="col">Адрес сайта</th>
                <th scope="col" class="pe-4">Просмотр</th>
                <th scope="col" class="pe-4">Визиты</th>
                <th scope="col">Посетитель</th>
                <th scope="col" class="delete-counter"></th>
            </tr>
            </thead>
            <tbody>
            {% for counter in counters %}
                <tr>
                    <td><a class="link-counter" href="#">{{ counter.name }}</a></td>
                    <td><a class="link-counter" href="http://{{ counter.link }}">{{ counter.link }}</a></td>    {# TODO syte's address #}
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td><a class="link-counter" href="#">Удалить счетчик</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="line mb-4"></div>
        <div class="d-flex justify-content-center">
            <span class="not-founded-text">Не найдено ни одного счетчика</span>
        </div>
    {% endif %}
    </div>
</div>
</body>
</html>