{% extends 'web/base_with_breadcrumbs.html' %}
{% load static %}
{% block head %}
    {% comment %} TODO почему на всех страницах разные стили? {% endcomment %}
    <link rel="stylesheet" href="{% static "web/css/profile.css" %}">
{% endblock %}

{% block title %}Личный кабинет - FreeStat{% endblock %}


{% block breadcrumbs_context %}
    <li class="breadcrumb-item active" aria-current="page">Список счетчиков /</li>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="add-counter col-4">
                    <button class="btn-counter"><a href="{% url 'add' %}" class="btn-link">Добавить счетчик</a></button>
                </div>
                <div class="search col-8">
                    <form role="search" class="d-flex">
                        <div class="input-group input-group-sm mb-3 justify-content-end">
                            <input class="form-control form-control-sm input-search" type="search"
                                   placeholder="Найти счетчик" name="search"
                                   value="{{ search|default_if_none:'' }}">
                            <button class="btn-search" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            {% if counter_list %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-name pe-5" title="Счетчик">Счетчик</th>
                        <th scope="col" class="th-name pe-5" title="Адрес сайта">Адрес сайта</th>
                        <th scope="col" class="th-widget" title="Просмотр">Просмотры</th>
                        <th scope="col" class="th-widget" title="Визиты">Визиты</th>
                        <th scope="col" class="th-widget" title="Посетитель">Посетители</th>
                        <th scope="col" class="action-counter"></th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for counter in counter_list %}
                        <tr>
                            <td class="pe-5 td-name"><a class="link-counter" href="{% url "counter" counter.id %}"
                                                        title="{{ counter.name }}">{{ counter.name }}</a></td>
                            <td class="pe-5 td-link"><a class="link-counter" href="http://{{ counter.link }}"
                                                        title="{{ counter.title }}">{{ counter.link }}</a></td>
                            {# TODO syte's address #}
                            <td>{{ counter.count_views }}</td>
                            <td>{{ counter.count_visits }}</td>
                            <td>{{ counter.count_visitors }}</td>
                            <td class="d-flex justify-content-end">
                                <a class="link-counter" href="{% url 'edit' counter.id %}"
                                   title="Редактировать счетчик"><i
                                        class="bi bi-gear"></i></a>
                                <a class="link-counter ms-4" href="{% url 'delete' counter.id %}"
                                   title="Удалить счетчик"><i
                                        class="bi bi-trash3"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="line mb-4"></div>
                <div class="d-flex justify-content-center">
                    <span class="not-founded-text">Не найдено ни одного счетчика</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}