<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
	<link href="{% static 'web/css/style.css' %}" rel="stylesheet">
</head>

<body>
	<main class="main-wrapper">
		<div class="container">
			<div class="auth-form">
				<h1>Регистрация</h1>
				<div class="form-inputs">
					<form action="registration" method="POST">
                        {% csrf_token %}
						<div class="user-input">
							<label>Имя</label>
							{{ form.name }}
						</div>
                        <div class="user-input">
							<label>Фамилия</label>
							{{ form.surname}}
						</div>
                        <div class="user-input">
							<label>E-mail</label>
							{{ form.email }}
						</div>
						<div class="user-input">
							<label>Пароль</label>
							{{ form.password1 }}
						</div>
						<div class="user-input">
							<label>Повторите пароль</label>
							{{ form.password2 }}
						</div>
						<div class="button-send-wrap">
							<button type="submit" class="button-send">Зарегистрироваться</button>
						</div>

						<div class="register">
							<span>Есть учетная запись? </span><a href={% url 'auth' %}>Войти</a>
						</div>
					</form>
                    {{ form.errors }}
				</div>
			</div>
		</div>
	</main>
</body>

</html>